body {
background-color: rgb(241, 239, 208);
font-family: Roboto;
}
.logo{
    display: inline-block;
    text-align: center;
}

img{
    width: 100px ;
    height: 50%;
    vertical-align:middle

}
.logo-text{
    vertical-align:middle

}

.search-form{
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;

}
.search-form-input{
    background:rgb(250, 250, 247);
    border: none;
    border-radius: 10px;
    font-size: medium;
    width:400px;
    height: 50px;
}    
.search-form-submit{
    border:none;
    border-radius: 10px;
    background:rgb(176, 176, 174) ;
    color: white;
    font-size: medium;
    margin: 10px;
    width:100px;
    height: 50px;

}

.temperature-block{
    background: rgb(238, 238, 153);
    border-radius: 94px 94px 94px 94px;
    height: 100px;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(112,106,112,0.63);
}
.tempareture-icon{
    height: 50px;
    width: 70px;
}

.weather-parameters-block{
    background: rgb(238, 238, 153);
    border-radius: 94px 94px 94px 94px;
    height: 100px;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(112,106,112,0.63);
}

.forecast-block{
    background: rgb(238, 238, 153);
    border-radius: 94px 94px 94px 94px;
    height: 100px;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(112,106,112,0.63); 
}